@model IEnumerable<Historias_Clinicas_D.Models.Episodio>

@{
    ViewData["Title"] = "Index";
}

<h1>Episodios</h1>

@if (this.User.IsInRole(Constantes.RolEmpleado))
{
    <p>
        <a class="btn btn-primary" role="button" asp-action="Create">Agregar Episodio</a>
    </p>
}
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.PacienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpleadoRegistraId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class=table-secondary>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAbierto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoRegistra.NombreCompleto)
            </td>
            <td>
            @if (item.EstadoAbierto)
            {
                <a class="btn btn-primary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalles</a><text> | </text>
                <a class="btn btn-danger" role="button" asp-controller="Episodios" asp-action="CerrarEpisodio" asp-route-id="@item.Id">Cerrar Episodio</a>
            }
            else
            {
                <a class="btn btn-primary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
