@model Historias_Clinicas_D.Models.Evolucion

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Evolucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraCierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraCierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAbierto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAbierto)

    </dl>
</div>

<div>
    <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-secondary" role="button" asp-action="Index">Volver</a>
</div>
<br />
<div>
    <h4>Notas</h4>
    <hr />
    @if (Model.Notas.Count > 0)
    {
        @if (this.User.IsInRole(Constantes.RolEmpleado))
        {
            <p>
                <a class="btn btn-primary" role="button" asp-controller="Notas" asp-action="Create" asp-route-evolucionId="@Model.Id" asp-route-empleadoId="@_userManager.GetUserId(this.User)" asp-route-returnUrl="/Evoluciones/Details/@Model?.Id">Agregar Nota</a>
            </p>
        }
        <table class = "table">
            <thead>
                <tr class="table-dark">
                    <th>
                        Nota
                    </th>
                    <th></th>
                </tr>
            </thead>
        @foreach (var item in Model.Notas){
            <tbody>
                <tr class=table-secondary>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mensaje)
                    </td>
                    <td>
                        <a class="btn btn-primary" role="button" asp-controller="Notas" asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
                    </td>
                </tr>
            </tbody>
        }
        </table>
    }
    else
    {
        <p>No tiene asignada ninguna Nota.</p>
        @if (this.User.IsInRole(Constantes.RolEmpleado))
        {
            <p>
                <a class="btn btn-primary" role="button" asp-controller="Notas" asp-action="Create" asp-route-idEvolucion="@Model.Id" asp-route-idEmpleado="@_userManager.GetUserId(this.User)" asp-route-returnUrl="/Evoluciones/Details/@Model?.Id">Agregar Nota</a>
            </p>
        }
    }
</div>





