@model Historias_Clinicas_D.Models.Evolucion

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Evolucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Episodio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Episodio.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraCierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraCierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAbierto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAbierto)

    </dl>
</div>
<div>
    @if (this.User.IsInRole(Constantes.RolMedico) && Model.EstadoAbierto)
    {
        <a class="btn btn-danger" role="button" asp-controller="Evoluciones" asp-action="CerrarEvolucion" asp-route-id="@Model.Id">Cerrar Evolucion</a><text> | </text>
    }
    <a class="btn btn-secondary" role="button" asp-controller="Episodios" asp-action="Details" asp-route-id="@Model.EpisodioId">Volver</a>
</div>
<br />
<div>
    <h4>Notas</h4>
    <hr />
    @if (this.User.IsInRole(Constantes.RolEmpleado))
    {
        <p>
            <a class="btn btn-primary" role="button" asp-controller="Notas" asp-action="Create" asp-route-evolucionId="@Model.Id" asp-route-empleadoId="@_userManager.GetUserId(this.User)" asp-route-returnUrl="/Evoluciones/Details/@Model?.Id">Agregar Nota</a>
        </p>
    }
    @if (Model.Notas.Count > 0)
    {
        @foreach (Nota nota in Model.Notas){
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Mensaje</strong>
                <small><a class="btn btn-primary" role="button" asp-controller="Notas" asp-action="Details" asp-route-id="@nota.Id">Detalles</a></small>
              </div>
              <div class="toast-body">
                @nota.Mensaje
              </div>
            </div>
            <br />
        }
    }
    else
    {
        <p>No tiene asignada ninguna Nota.</p>
    }
</div>





