@model Historias_Clinicas_D.Models.Nota

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Está seguro de que desea eliminar la siguiente Nota?</h3>
<div>
    <h4>Nota</h4>
    <dl class="row">
        <dd class = "col-sm-8">            
            <hr />
            <textarea asp-for="Mensaje" class="form-control" rows="5" disabled></textarea>
        </dd>        
    </dl>
</div>
<div>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMasInfo" aria-expanded="false" aria-controls="collapseMasInfo">
        + Información
    </button>    
</div>
<br />
<div class="collapse" id="collapseMasInfo">    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evolucion.DescripcionAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.NombreCompleto)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHora)
        </dd>
    </dl>
 </div>
 <div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-secondary" role="button" onclick="history.go(-1)">Volver</a>
    </form>
</div>
