@model Historias_Clinicas_D.Models.Epicrisis

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Epicrisis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Episodio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Episodio.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recomendacion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-secondary" role="button" onclick="history.go(-1)">Volver</a>
</div>
