@model IEnumerable<Historias_Clinicas_D.Models.Epicrisis>

@{
    ViewData["Title"] = "Index";
}

<h1>Epicrisis</h1>

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Agregar Epicrisis</a>
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Episodio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recomendacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class=table-secondary>
            <td>
                @Html.DisplayFor(modelItem => item.Episodio.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recomendacion)
            </td>
            <td>
                <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-primary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
