@model Historias_Clinicas_D.Models.Paciente

@{
    ViewData["Title"] = "Historia Clinica";
}

<h1>Historia Clínica</h1>

<div>
    @if (this.User.IsInRole(Constantes.RolEmpleado))
    {
        <p>
            <a class="btn btn-primary" role="button" asp-controller="Episodios" asp-action="Create" asp-route-pacienteId="@Model.Id" asp-route-empleadoRegistraId="@_userManager.GetUserId(this.User)" asp-route-returnUrl="/Pacientes/HistoriaClinica/@Model?.Id">Agregar Episodio</a>
        </p>
    }
    @if (Model.Episodios.Count > 0)
    {
        <table class="table">
        <thead>
            <tr class="table-dark">
                <th>
                    @Alias.Motivo
                </th>
                <th>
                    @Alias.FechaYHoraInicio
                </th>
                <th>
                    @Alias.EstadoAbierto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Episodios) {
                <tr class=table-secondary>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoAbierto)
                    </td>
                    <td>
                        <a class="btn btn-primary" role="button" asp-controller="Episodios" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        @if ((this.User.IsInRole(Constantes.RolEmpleado) || this.User.IsInRole(Constantes.RolMedico)) && item.EstadoAbierto)
                        {
                            <text> | </text><a class="btn btn-danger" role="button" asp-controller="Episodios" asp-action="CerrarEpisodio" asp-route-id="@item.Id" asp-route-returnUrl="/Pacientes/HistoriaClinica/@Model.Id">Cerrar Episodio</a>
                        }
                    </td>
                </tr>
        }
        </tbody>
        </table>
    }
    else
    {
        <p>No tiene asignado ningun Episodio.</p>
    }
</div>
<div>  
    <a class="btn btn-secondary" role="button" onclick="history.go(-1)">Volver</a>
</div>