@model IEnumerable<Historias_Clinicas_D.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Pacientes</h1>

<p>
    @if (this.User.IsInRole(Constantes.RolEmpleado))
    {
        <a class="btn btn-primary" role="button" asp-action="Create">Agregar Paciente</a>
    }
    <form class="d-flex" asp-action="index" asp-controller="Pacientes" method="get">
        <input class="form-control me-sm-2" type="text" name="nombrebuscado" placeholder="Ingrese Nombre o Apellido"/>        
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar Paciente</button>
    </form> 
</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.ObraSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class=table-secondary>
            <td>
                @Html.DisplayFor(modelItem => item.ObraSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (this.User.IsInRole(Constantes.RolEmpleado))
                {
                   <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@item.Id">Editar</a><text> | </text>
                }
                <a class="btn btn-primary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="btn btn-primary" role="button" asp-action="HistoriaClinica" asp-route-id="@item.Id">Historia Clínica</a>
                @if (this.User.IsInRole(Constantes.RolEmpleado))
                {
                   <text> | </text><a class="btn btn-warning" role="button" asp-action="Create" asp-controller="Episodios" asp-route-returnUrl="/Pacientes/HistoriaClinica/@item.Id" asp-route-pacienteId="@item.Id" asp-route-empleadoRegistraId="@_userManager.GetUserId(this.User)">Crear Episodio</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
